* {
    font-family: 'Domine', serif;
    font-size: 16px;
}

blockquote:before { 
    content: open-quote; 
}
blockquote:after  { 
    content: close-quote;
 }

blockquote {
    quotes: "\201C" "\201D";
}

.h1_main {
    position: relative;
    top: 40%;
    font-size: 5em;
}

.h1_oscuros {
    color: white;
}

.h1_amarillo {
    color: black;
}

.section_background1 {
    background-color: black;
}

.capa1 {
    height: 100vh;
    background-color: black;
    text-align: center;
    
}

.section_background2 {
    background-color: black;
}

.capa2 {
    height: 100vh;
    background-color: yellow;
    text-align: center;
}

.section_background3 {
    background-color: yellow;
}

.capa3 {
    height: 100vh;
    background-color: darkcyan;
    text-align: center;
}

.section_background4 {
    background-color: darkcyan;
}

.capa4 {
    height: 100vh;
    background-color: darkred;
    text-align: center;
}

.divAparece{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.divAparece.active{
    transform: translateY(0);
    opacity: 1;
}

@keyframes mueveIzquierda {
    0% {
        transform: translateX(350px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.h1ApareceI {
    animation: mueveIzquierda 1s;
}

/* //////////////////////////////////////////////////////// [ AJUSTE RESPONSIVO //////////////////////////////////////////////////////// */

  @media screen and (max-width: 480px) {
    .h1_main {
      font-size: 2em;
    }
  }